<template>



    <div class="cards ">
        <h4 class="text-90 font-normal text-2xl flex-no-shrink">Loan Details</h4><br>
        <card>
        <div class="loan " v-if="loan.items.length">
            <div class="loan-card p-3">

            <loan-card v-for="loan in loan.items"
                       :key="loan.id"
                       :loan="loan">

            </loan-card>


            </div>
            <paginator :pagination="loan.pagination"
                       @change="handleLoadPaginate"></paginator>

        </div>
        </card>
        <br>
        <h4 class="text-90 font-normal text-2xl flex-no-shrink">Loan Payment Details</h4>

        <card>
        <div class="events " v-if="event.items.length">

            <table class="table badge-primary">
                <thead>
                <tr>
                    <td>
                        Amount
                    </td>
                    <td>
                        Date
                    </td>
                    <td>
                        Loan officer
                    </td>
                </tr>
                </thead>
                <tbody>
                <event-card v-for="event in event.items"
                            :key="event.id"
                            :event="event">

                </event-card>
                </tbody>
            </table>

            <paginator :pagination="event.pagination"
                       @change="handleEventPaginate"></paginator>
        </div>
        </card>

    </div>
</template>

<script>
    import LoanCard from "./LoanCard";
    import Paginator from "./Paginator";
    import EventCard from "./EventCard";

    export default {
        props: [
            'card',
            'resource',
            'resourceId',
            'resourceName',
        ],

        components: {
            "loan-card": LoanCard,
            "paginator": Paginator,
            "event-card": EventCard,
        },

        data() {
            return {
                loan: {
                    page: 1,
                    items: [],
                    pagination: {},
                },
                event: {
                    page: 1,
                    items: [],
                    pagination: {},
                },
            }
        },

        mounted() {
            this.loadLoans();
            this.loadEvents();
        },

        methods: {
            loadLoans() {
                Nova.request().get(`/nova-vendor/card-view/${this.resourceId}/loans?page=${this.loan.page}`)
                    .then(({data}) => {
                        this.loan.items = data.data;
                        this.loan.pagination = data.meta;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            loadEvents() {
                Nova.request().get(`/nova-vendor/card-view/${this.resourceId}/events?page=${this.event.page}`)
                    .then(({data}) => {
                        this.event.items = data.data;
                        this.event.pagination = data.meta;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            handleLoadPaginate(page) {
                this.load.page = page;
                this.loadLoans();
            },
            handleEventPaginate(page) {
                this.event.page = page;
                this.loadEvents();
            }
        }
    }
</script>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto ;

    }

    .grid-item {
        font-size: 20px;
        text-align: justify;
    }
    table{
        margin-top: 20px;
    }
card{
    margin-bottom: 15px;
}
</style>
